services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kitty-api
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
    volumes:
      - ./data:/data
